# Fake News Detection

## 1. Understanding the Problem

## 2. Data Understanding

**Link**: https://www.kaggle.com/datasets/khushikyad001/fake-news-detection

## 3. Data exploration

In [14]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from dotenv import load_dotenv

In [15]:
load_dotenv()

True

In [2]:
plt.style.use("ggplot")

In [3]:
PATH_DATA = os.path.join(os.getenv("PATH_DATA_PROJECTS"), "Tabular", "Fake_News_Detection")

In [4]:
df = pd.read_csv(os.path.join(PATH_DATA, "fake_news_dataset.csv"))
print("Shape:", df.shape)
df.head()

Shape: (4000, 24)

,id,title,author,text,state,date_published,source,category,sentiment_score,word_count,...,num_shares,num_comments,political_bias,fact_check_rating,is_satirical,trust_score,source_reputation,clickbait_score,plagiarism_score,label
0,1,Breaking News 1,Jane Smith,This is the content of article 1. It contains ...,Tennessee,30-11-2021,The Onion,Entertainment,-0.22,1302,...,47305,450,Center,FALSE,1,76,6,0.84,53.35,Fake
1,2,Breaking News 2,Emily Davis,This is the content of article 2. It contains ...,Wisconsin,02-09-2021,The Guardian,Technology,0.92,322,...,39804,530,Left,Mixed,1,1,5,0.85,28.28,Fake
2,3,Breaking News 3,John Doe,This is the content of article 3. It contains ...,Missouri,13-04-2021,New York Times,Sports,0.25,228,...,45860,763,Center,Mixed,0,57,1,0.72,0.38,Fake
3,4,Breaking News 4,Alex Johnson,This is the content of article 4. It contains ...,North Carolina,08-03-2020,CNN,Sports,0.94,155,...,34222,945,Center,TRUE,1,18,10,0.92,32.20,Fake
4,5,Breaking News 5,Emily Davis,This is the content of article 5. It contains ...,California,23-03-2022,Daily Mail,Technology,-0.01,962,...,35934,433,Right,Mixed,0,95,6,0.66,77.70,Real

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   int64
 1   title              4000 non-null   object
 2   author             4000 non-null   object
 3   text               4000 non-null   object
 4   state              4000 non-null   object
 5   date_published     4000 non-null   object
 6   source             4000 non-null   object
 7   category           4000 non-null   object
 8   sentiment_score    4000 non-null   float64
 9   word_count         4000 non-null   int64
 10  char_count         4000 non-null   int64
 11  has_images         4000 non-null   int64
 12  has_videos         4000 non-null   int64
 13  readability_score  4000 non-null   float64
 14  num_shares         4000 non-null   int64
 15  num_comments       4000 non-null   int64
 16  political_bias     4000 non-null   object
 17  fact_check_rating  4000 non-null   object
 18  is_satirical       4000 non-null   int64
 19  trust_score        4000 non-null   int64
 20  source_reputation  4000 non-null   int64
 21  clickbait_score    4000 non-null   float64
 22  plagiarism_score   4000 non-null   float64
 23  label              4000 non-null   object
dtypes: float64(4), int64(10), object(10)
memory usage: 750.1+ KB

In [6]:
print("Total missing by columns:")
df.isnull().sum()

Total missing by columns:

id                   0
title                0
author               0
text                 0
state                0
date_published       0
source               0
category             0
sentiment_score      0
word_count           0
char_count           0
has_images           0
has_videos           0
readability_score    0
num_shares           0
num_comments         0
political_bias       0
fact_check_rating    0
is_satirical         0
trust_score          0
source_reputation    0
clickbait_score      0
plagiarism_score     0
label                0
dtype: int64

### 3.1. Target variable

In [7]:
target_variable = "label"

In [10]:
df[target_variable].unique()

array(['Fake', 'Real'], dtype=object)

### 3.2. Categorical

In [8]:
categorical_features = ["author", "state", "source", "category", "has_images", "has_videos", "political_bias", "fact_check_rating", "is_satirical"]

### 3.3. Numerical

In [9]:
numerical_features = ["sentiment_score", "word_count", "char_count", "readability_score", "num_shares", "num_comments", "trust_score", "source_reputation", "clickbait_score",
                      "plagiarism_score"]

In [13]:
for c in categorical_features:
    print("\nFeature:", c)
    print(df[c].unique())

Feature: author
['Jane Smith' 'Emily Davis' 'John Doe' 'Alex Johnson' 'Chris Lee']

Feature: state
['Tennessee' 'Wisconsin' 'Missouri' 'North Carolina' 'California'
 'Maryland' 'Texas' 'Virginia' 'Washington' 'Indiana' 'Florida' 'Ohio'
 'New York' 'Michigan' 'Arizona' 'Massachusetts' 'Georgia' 'Pennsylvania'
 'Illinois' 'New Jersey']

Feature: source
['The Onion' 'The Guardian' 'New York Times' 'CNN' 'Daily Mail' 'Fox News'
 'HuffPost' 'Snopes' 'Washington Post' 'BBC' 'Breitbart' 'InfoWars'
 'Reuters']

Feature: category
['Entertainment' 'Technology' 'Sports' 'Business' 'Politics' 'Health']

Feature: has_images
[0 1]

Feature: has_videos
[0 1]

Feature: political_bias
['Center' 'Left' 'Right']

Feature: fact_check_rating
['FALSE' 'Mixed' 'TRUE']

Feature: is_satirical
[1 0]

In [12]:
df[numerical_features].describe()

,sentiment_score,word_count,char_count,readability_score,num_shares,num_comments,trust_score,source_reputation,clickbait_score,plagiarism_score
count,4000.000000,4000.000000,4000.0000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000
mean,-0.000645,795.655750,4277.0680,54.764595,25144.596750,489.870250,49.960750,5.54925,0.494447,50.598110
std,0.574768,406.373871,2186.2073,14.404027,14387.537467,287.435733,29.467911,2.87422,0.289138,28.932298
min,-1.000000,100.000000,500.0000,30.020000,39.000000,0.000000,0.000000,1.00000,0.000000,0.040000
25%,-0.490000,445.750000,2358.7500,42.480000,12781.750000,238.000000,24.000000,3.00000,0.240000,25.915000
50%,-0.010000,793.000000,4287.0000,54.235000,25308.500000,483.000000,50.000000,6.00000,0.490000,51.480000
75%,0.510000,1150.000000,6206.5000,67.215000,37453.500000,741.000000,76.000000,8.00000,0.740000,75.580000
max,1.000000,1500.000000,7996.0000,79.980000,50000.000000,1000.000000,100.000000,10.00000,1.000000,99.950000

## 4. Data cleaning

In [56]:
df[target_variable] = df[target_variable].astype(str)
df[target_variable] = df[target_variable].map(lambda x: x.strip())
df[target_variable] = df[target_variable].map(lambda x: x.upper())

In [49]:
string_features = ["author", "state", "source", "category", "political_bias", "fact_check_rating"]
df[string_features] = df[string_features].astype(str)
df[string_features] = df[string_features].map(lambda x: x.strip())
df[string_features] = df[string_features].map(lambda x: x.upper())

## 5. Ingest data

In [16]:
import pyodbc

In [51]:
SERVER_MSSQL = os.getenv("SERVER_MSSQL")
DATABASE_MSSQL = os.getenv("DATABASE_MSSQL")
UID_MSSQL = os.getenv("UID_MSSQL")
PWD_MSSQL = os.getenv("PWD_MSSQL")

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 18 for SQL Server};"
    f"SERVER={SERVER_MSSQL};"
    f"DATABASE={DATABASE_MSSQL};"
    f"UID={UID_MSSQL};"
    f"PWD={PWD_MSSQL};"
    "Encrypt=yes;"
    "TrustServerCertificate=yes;"
)

In [52]:
cur = conn.cursor()

In [57]:
query = "DROP TABLE IF EXISTS dbo.fake_news_detection"
cur.execute(query)
conn.commit()

In [58]:
query = "CREATE TABLE dbo.fake_news_detection (" \
        "label VARCHAR(4) NOT NULL," \
        "author VARCHAR(100) NOT NULL," \
        "state VARCHAR(100) NOT NULL," \
        "source VARCHAR(100) NOT NULL," \
        "category VARCHAR(100) NOT NULL," \
        "has_images BIT NOT NULL," \
        "has_videos BIT NOT NULL," \
        "political_bias VARCHAR(100) NOT NULL," \
        "fact_check_rating VARCHAR(100) NOT NULL," \
        "is_satirical BIT NOT NULL," \
        "sentiment_score DECIMAL(3,2) NOT NULL," \
        "word_count INT NOT NULL," \
        "char_count INT NOT NULL," \
        "readability_score DECIMAL(5,2) NOT NULL," \
        "num_shares INT NOT NULL," \
        "num_comments INT NOT NULL," \
        "trust_score INT NOT NULL," \
        "source_reputation INT NOT NULL," \
        "clickbait_score DECIMAL(3,2) NOT NULL," \
        "plagiarism_score DECIMAL(5,2) NOT NULL" \
        ")"
cur.execute(query)
conn.commit()

In [59]:
features = [target_variable] + categorical_features + numerical_features
features_query = ", ".join(x for x in features)
values_query = ("?," * len(features))[:-1]

In [60]:
insert_query = f"INSERT INTO dbo.fake_news_detection ({features_query}) VALUES ({values_query})"
data_sql = list(df[features].itertuples(index = False, name = None))
cur.executemany(insert_query, data_sql)
conn.commit()

In [61]:
conn.close()